*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #0099FF;
}

h1{
    font-size: 3rem;
}

header {
  color: white;
	background-color: #0010FF;
}

nav#space-buttons{
    margin-left: 28rem;
}

.button{
  color: white;
  background-color: #00E0CB;

    margin: 5rem 0%;
    
    padding: 3.5rem;

    border-radius: 15%;
    
    font-size: 2rem;
}

a{
    display: block;
    text-decoration: none;
    color: black;

    width: 52%;
}

.button:hover{
    text-decoration: none;
    color: white;
    background-color: #00FFBA;
}

#atent{
    color: red
}

/*########################################*/

#principal {
	margin: 5rem 0;
	display: flex;
}

#h-multi {
  display: flex;
  align-items: center;
}

#button-return{
    background-color: #00FFBA;
    border-radius: 50%;
    margin: 8px;
    margin-right: auto;
}

#button-return:hover{
    background-color: #00E0CB;
}

#button-return:active{
    background-color: rgba(0, 102, 255, 0.76);
}

#change-names-button {
	padding: .5rem;
	font-family: 'Poppins', sans-serif;
	font-size: 2rem;
	margin-right: .5rem;
}

#cards {
	width: 15%;
}

.player-name, .players-score {
	text-align: center;
	font-size: 2rem;
	font-family: 'Poppins', sans-serif;
	width: 90%;
}

.player-name {
	margin-top:3rem;
}

#player1 {
	background-color: red;
	color: white;
}

#player2 {
	background-color: blue;
	color: white;
}

#blackboard {
	width: 70%; 
}

#board {
	width: 100%;
	padding: 4rem 2rem;
	border: 8px solid #2F0807;
	
	color: white;
	background-color: #268A00;
}

.board-content {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2% 0;
}

#doll {
	width:30%;
}

#doll-head {
	width: 8%;
}

#doll-body, .doll-arm, .doll-leg {
  display: inline-block;

	width: 10%;
	height: 2rem;
}

.doll-arm, .doll-leg {
	width: 3.5%;
}

#tips-id {
    font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
}

#tips-value {
    color: white;
	background-color: #268A00;

    font-family: 'Poppins', sans-serif;
    text-align: center;
	font-size: 1.5rem;
	
	width: 100%;
	border: none;
}

.chars {
	width: 2.5rem; 
	height: 3.5rem;
	
	font-family: 'Poppins', sans-serif;
	font-size: 3rem;
	text-align: center;
	color: white;
	background-color: #268A00;
	
	border: none;
	border-bottom: 2px solid white;
	margin: 2px;
}

#keyboard {
	width: 25%;
}

.keychar {
	width: 23%;
	height: 3rem; 
	font-size: 2rem;
	font-family: 'Poppins', sans-serif;
	
}

.modal{
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    
    z-index: 999;
}

.modal.active{
    opacity: 1;
    visibility: visible;
}

.modal-content{
    background-color: aliceblue;
    border-radius: 10%;

    width: 32%;
    height: 18rem;

    font-size: 2rem;

    padding-top: 2rem;
}

#modal-name-selection .modal-content small{
    color: red;
    font-size: 1.2rem;

    margin-bottom: 1%;
}

.name-input {
	font-size: 1.7rem;
	width: 40%;
}

.word-input {
	font-size: 1.5rem; 
	width: 82%;
	margin-top: 1.5rem;
}

#next-word {
	width: 76%;
	text-align: center;
}

#submit-names, #submit-word {
    margin-top: 5%;
	  
	  font-size: 2rem;
    color: white;
    background-color: rgb(0, 81, 255);

    width: 30%;
    padding: 0.8rem 0rem;
    border-radius: 25%;
}

@media (max-width: 720px){   
	 h1{
        font-size: 2.5rem;
    }

    nav#space-buttons{
        width: 90%;
        margin-left: 5rem;
    }
    
    .button{   
        width: 125%;

        margin: 4rem 0%;
        
        padding: 1rem;
        
        font-size: 1.8rem;
    }
    
/*################################################*/

    #change-names-button {
    	padding: .25rem;
    	font-size: 1.5rem;
   }

    #principal{
        margin: 0;
        display: block;
    }

    #cards{
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .player-name, .players-score {
    	font-size: 1.4rem;  
        width: 85%;
        height: 2rem;
    }

     .player-name {
    	margin-top:.5rem;
    }
    
    .players-score{
        margin-bottom: .5rem;
    }
    
    #blackboard, #keyboard{
        width: 100%;
    }
    
    #board{
        padding: 2rem .5rem;
    }
    
    #doll-head {
	    width: 25%;
    }

    #doll-body, .doll-arm, .doll-leg {
    	width: 30%;
    	height: 2rem;
    }

    .doll-arm, .doll-leg {
    	width: 12%;
    }
    
    #tips-id, #tips-value {
    	font-size: 1rem;
    }
    
    .chars {
        margin-top: .5rem;
    	width: 1.5rem; 
    	height: 1.6rem;
    	font-size: 2rem;
    }
    
    #keyboard{
        margin: .5rem 0;
    }
    
    .keychar {
    	width: 15.5%;
    	height: 3rem; 
    	font-size: 2rem;
    }
}