*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #0099FF;
}

h1{
    font-size: 3rem;
}

header {
  color: white;
	background-color: #0010FF;
}

nav#space-buttons{
    margin-left: 28rem;
}

.button{
  color: white;
  background-color: #00E0CB;

    margin: 5rem 0%;
    
    padding: 3.5rem;

    border-radius: 15%;
    
    font-size: 2rem;
}

a{
    display: block;
    text-decoration: none;
    color: black;

    width: 52%;
}

.button:hover{
    text-decoration: none;
    color: white;
    background-color: #00FFBA;
}

#atent{
    color: red
}

/*########################################*/

#principal {
	margin: 2rem 0;
	display: flex;
}

#h-multi {
  display: flex;
  align-items: center;
}

#button-return{
    background-color: #00FFBA;
    border-radius: 50%;
    margin: 8px;
    margin-right: auto;
}

#button-return:hover{
    background-color: #00E0CB;
}

#button-return:active{
    background-color: rgba(0, 102, 255, 0.76);
}

#change-names-button {
	padding: .5rem;
	font-size: 2.25rem;
	margin-right: .5rem;
}

#cards {
	width: 15%;
}

.player-name, .players-score {
	text-align: center;
	font-size: 2rem;
	width: 90%;
}

.player-name {
	margin-top:3rem;
}

#player1 {
	background-color: red;
	color: white;
}

#player2 {
	background-color: blue;
	color: white;
}

#blackboard {
	width: 70%; 
}

#board {
	width: 100%;
	padding: 4rem 2rem;
	border: 8px solid #2F0807;
	
	color: white;
	background-color: #268A00;
}

.board-content {
	display: flex;
	align-items: center;
	margin: 2% 0;
}

#doll {
	width:50%;
}

#doll-head {
	width: 6%;
}

#doll-body, .doll-arm, .doll-leg {
  display: inline-block;

	width: 8%;
	height: 2rem;
}

.doll-arm, .doll-leg {
	width: 3.5%;
}

#tips-id {
	font-size: 1.5rem;
}

#tips-value {
  color: white;
	background-color: #268A00;

  text-align: center;
	font-size: 1.5rem;
	
	width: 100%;
	border: none;
}

.chars {
	width: 2.5rem; 
	height: 3.5rem;
	
	font-size: 3rem;
	text-align: center;
	color: white;
	background-color: #268A00;
	
	border: none;
	border-bottom: 2px solid white;
	margin: 2px;
}

#keyboard {
	width: 25%;
}

.board-content#word {
	display: flex; 
	flex-direction: row;
	align-items: center;
	justify-content: center:
}

.keychar {
	width: 23%;
	height: 3rem; 
	font-size: 2.5rem;
	
	
}

@media (max-width: 720px){
	 h1#title{
        font-size: 2.5rem;
    }

    nav#space-buttons{
        width: 90%;
        margin-left: 5rem;
    }
    
    .button{
        background-color: yellow;
        
        width: 125%;

        margin: 7rem 0%;
        
        padding: 1rem;
    
        border-radius: 15%;
        
        font-size: 1.8rem;
    }
    
/*################################################*/

    a#change-name-button{
        width: 45%;
    }

    #principal-area{
        display: block;
    }

    #score{
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0%;
    }

    input.score-name, input.score-point{
        margin-bottom: 2px;
    
        width: 85%;
        height: 2rem;
    
        font-size: 1.4rem;
    }
}